

.slide {
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
  }
  


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    max-width: 300px;
    text-align: center;
}

.item img {
    max-width: 100%;
}

.item h2 {
    font-size: 1.2em;
    margin: 0;
}

.item p {
    margin: 10px 0;
}
